@page "/citas"
@using Syncfusion.Blazor.Schedule

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <!-- Contenido principal (calendario u otro contenido) -->
            <SfSchedule TValue="AppointmentData" @bind-SelectedDate="@CurrentDate">
                <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
                <ScheduleViews>
                    <ScheduleView Option="View.Day" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.Week" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.WorkWeek" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.Month" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.Agenda" StartHour="8:00" EndHour="19:00"></ScheduleView>
                </ScheduleViews>
            </SfSchedule>
        </div>
    </div>
</div>

@code {
    DateTime CurrentDate = new DateTime(2024, 2, 14);
    List<AppointmentData> DataSource = new List<AppointmentData>
    {
        new AppointmentData { Id = 1, Subject = "Paris", StartTime = new DateTime(2024, 2, 13, 10, 0, 0) , EndTime = new DateTime(2024, 2, 13, 12, 0, 0) },
        new AppointmentData { Id = 2, Subject = "Germany", StartTime = new DateTime(2024, 2, 15, 10, 0, 0) , EndTime = new DateTime(2024, 2, 15, 12, 0, 0) }
    };

    public class AppointmentData
    {
        public int Id { get; set; }
        public string Subject { get; set; }
        public string Location { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public string Description { get; set; }
        public bool IsAllDay { get; set; }
        public string RecurrenceRule { get; set; }
        public string RecurrenceException { get; set; }
        public Nullable<int> RecurrenceID { get; set; }
    }
}
