@page "/citas"
@using Syncfusion.Blazor.Schedule

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-dark">
            <div class="top-row ps-3 navbar navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/citas">Que Chulos Perros</a>
                </div>
            </div>

            <div class="nav-scrollable">
                <nav class="flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="citas" Match="NavLinkMatch.All">
                            <span class="oi oi-calendar" aria-hidden="true"></span> Citas
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="trabajadores">
                            <span class="oi oi-people" aria-hidden="true"></span> Trabajadores
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="clientes">
                            <span class="oi oi-people" aria-hidden="true"></span> Clientes
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="mascotas">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Mascotas
                        </NavLink>
                    </div>
                </nav>
            </div>
        </div>

        <div class="col-md-9">
            <!-- Contenido principal (calendario u otro contenido) -->
            <SfSchedule TValue="AppointmentData" @bind-SelectedDate="@CurrentDate">
                <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
                <ScheduleViews>
                    <ScheduleView Option="View.Day" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.Week" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.WorkWeek" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.Month" StartHour="8:00" EndHour="19:00"></ScheduleView>
                    <ScheduleView Option="View.Agenda" StartHour="8:00" EndHour="19:00"></ScheduleView>
                </ScheduleViews>
            </SfSchedule>
        </div>
    </div>
</div>

@code {
    DateTime CurrentDate = new DateTime(2024, 2, 14);
    List<AppointmentData> DataSource = new List<AppointmentData>
    {
        new AppointmentData { Id = 1, Subject = "Paris", StartTime = new DateTime(2024, 2, 13, 10, 0, 0) , EndTime = new DateTime(2024, 2, 13, 12, 0, 0) },
        new AppointmentData { Id = 2, Subject = "Germany", StartTime = new DateTime(2024, 2, 15, 10, 0, 0) , EndTime = new DateTime(2024, 2, 15, 12, 0, 0) }
    };

    public class AppointmentData
    {
        public int Id { get; set; }
        public string Subject { get; set; }
        public string Location { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public string Description { get; set; }
        public bool IsAllDay { get; set; }
        public string RecurrenceRule { get; set; }
        public string RecurrenceException { get; set; }
        public Nullable<int> RecurrenceID { get; set; }
    }
}
