@page "/citas"
@using Syncfusion.Blazor.Schedule
@using QueChulosPerros.Shared.Model;
@inject HttpClient http;

<div class="container-fluid">
    <div class="col-md-9">
        <!-- Contenido principal (calendario u otro contenido) -->
        <SfSchedule TValue="Cita" @bind-SelectedDate="@CurrentDate">
            <ScheduleEventSettings DataSource="@agendarCita"></ScheduleEventSettings>
            <ScheduleField>
                <FieldSubject Title="Nombre"></FieldSubject>
                <FieldStartTime Title="Hora de llegada"></FieldStartTime>
                <FieldEndTime Title="Hora de salida"></FieldEndTime>
                    
            </ScheduleField>
            <ScheduleViews>
                <ScheduleView Option="View.Day" StartHour="8:00" EndHour="19:00"></ScheduleView>
                <ScheduleView Option="View.Week" StartHour="8:00" EndHour="19:00"></ScheduleView>
                <ScheduleView Option="View.WorkWeek" StartHour="8:00" EndHour="19:00"></ScheduleView>
                <ScheduleView Option="View.Month" StartHour="8:00" EndHour="19:00"></ScheduleView>
                <ScheduleView Option="View.Agenda" StartHour="8:00" EndHour="19:00"></ScheduleView>
            </ScheduleViews>
        </SfSchedule>
    </div>
</div>

@code {
    DateTime CurrentDate = DateTime.Today;
    List<Cita>? agendarCita;

    protected override async Task OnInitializedAsync()
    {
        agendarCita = await http!.GetFromJsonAsync<List<Cita>>("api/citas");
    }
}

